main {
    max-width: 1500px;
    width: 90%;
    margin: 0 auto;

    section {
        display: flex;
        
        div {
            width: 50%;
            display: flex;
            
            img {
                width: 33%;
                height: 120%;
                border-radius: 20px;
            }
            p {
                margin: auto 20px;
                font-size: 1.2rem;
                line-height: 1.4;
            }
        }
    }
    table, th, td {
        border: 2px;
    }
    table {
        margin: 70px auto 50px;
    }
    th, td {
        padding: 25px;
    }
    th {
        text-align: left;
        background-color: blue;
        color: white;
    }
    td:last-child {
        background-color: rgb(96, 96, 96);
        text-align: center;
        a {
            color: white;
            text-decoration: underline;
        }
    }
}
h1 {
    padding: 0;
    margin: 50px 0 20px;
    font-size: 2.2rem;
    background-color: white;
    color: rgb(43, 43, 43);
}